@import "scss/variables";
@import "scss/mixins";
@import "scss/normalize";


html {
    font-size: 24px;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
    color: $color-text;

    * {
        box-sizing: inherit;
    }

    span {
        font-weight: 600;
    }
}

.container {
    max-width: 1315px;
    padding: 0 20px;
    margin: 0 auto;

    @include media-to(375px) {
        padding: 0 14px;
    }
}

.button {
    display: inline-block;
    padding: 18px 48px;
    font-weight: 700;
    font-size: 18px;
    color: $color-text-secondary;
    background: linear-gradient(180deg, #F42C2B 0%, rgba(0, 0, 0, 0) 100%), #460D09;
    border-radius: 10px;
    border: none;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        background-color: #0f0e0e;
    }
}

a {
    text-decoration: none;
    color: $color-text;

    &:hover {
        //color: #000000;
    }
}

h1 {
    font-size: 2.66rem;
    margin-top: 0;
}

h2 {
    font-size: 1.5rem;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.d-flex {
    display: flex;
}

.desktop-hidden {
    display: none;
}


@import "scss/components/header";
@import "scss/components/first-screen";
@import "scss/components/block-order";
@import "scss/components/associations";
@import "scss/components/poligamy";
@import "scss/components/promo";
@import "scss/components/effects";
@import "scss/components/order";
@import "scss/components/components";
