.associations {
    position: relative;
    background: url("images/association-pattern.png") no-repeat left -3px;
    margin-bottom: 50px;

    &-title {
        max-width: 806px;
        text-align: center;
        margin: 0 auto 40px;
    }

    &-box {
        position: relative;
    }

    &-item {
        width: 50%;
        padding: 43px 30px 47px 0;
        color: #140202;
    }

    &-image {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 50%;
        object-fit: cover;
    }


}