.block-order {
    max-width: 356px;
    background-color: $color-text-secondary;
    color: $color-text;
    padding: 30px 29px 40px;
    border-radius: 15px;
    box-shadow: 0 4px 50px rgba(136, 136, 136, 0.25);

    @include media-to(650px) {
        max-width: 280px;
        padding: 15px 22px;
    }

    span {
        color: $color-text;
    }

    &-title {
        font-size: 18px;
        text-align: center;
        margin-bottom: 16px;

        @include media-to(650px) {
            font-size: 14px;
        }
    }

    &-promotion {
        font-size: 12px;
        margin-bottom: 9px;
        font-weight: 600;
    }

    .timer {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        margin-bottom: 9px;

        @include media-to(650px) {
            padding: 0;
        }

        span {
            font-size: 18px;
            font-weight: 700;
            width: 66px;
            padding: 9px 16px;
            color: $color-text-secondary;
            background: linear-gradient(180deg, #F42C2B 0%, rgba(0, 0, 0, 0) 100%), #460D09;
            border-radius: 10px;
            text-align: center;
        }

        &-desc {
            display: flex;
            justify-content: space-between;
            padding: 0 30px;

            @include media-to(650px) {
                padding: 0 10px;
            }

            span {
                font-size: 12px;
                font-weight: 600;
                width: 48px;
                text-align: center;
            }
        }
    }

    &-offer {
        max-width: 190px;
        font-size: 12px;
    }
}

.form {
    margin-bottom: 17px;

    &-item {
        font-size: 12px;
    }

    input {
        display: block;
        width: 100%;
        font-size: 16px;
        background: #EAEAEC;
        border-radius: 10px;
        border: none;
        padding: 12px 14px;
        margin-bottom: 12px;
        cursor: pointer;

        @include media-to(650px) {
            margin-bottom: 0;
        }
    }

    &-btn {
        display: block;
        margin: 21px auto 0;
        width: 90%;
        padding: 17px 22px;

        @include media-to(650px) {
            width: 100%;
            padding: 14px 10px;
            font-size: 16px;
        }

    }
}