.complex {
    position: relative;
    //background: url("/images/complex-conference.jpg") no-repeat left top;
    margin-bottom: 100px;

    &-item {
        width: 50%;
        padding: 43px 30px 47px 0;
        color: #140202;
    }

    &-image {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 50%;
        object-fit: cover;
    }

    &-box {

        &-bg {
            background-color: #F8C67D;

        }
    }
}
