.components {
    position: relative;
    background: url("images/components-bg.png") no-repeat center bottom;
    background-size: contain;
    padding-bottom: 47px;

    @include media-to(480px) {
        background: url("images/components-bg-mobile.png") no-repeat bottom;
        padding-bottom: 35px;
    }

    &-pattern {

        @include media-to(480px) {
            display: block;
            position: absolute;
            left: -124px;
            top: -51px;
        }
    }

    &-text {
        text-align: center;
        line-height: 36px;
        width: 45%;
        margin: 0 auto 87px;

        @include media-to(768px) {
            width: 65%;
        }

        @include media-to(480px) {
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 47px;
        }

        @include media-to(375px) {
            width: 100%;
        }

        span {
            font-size: 30px;

            @include media-to(480px) {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }

    &-image {
        width: 150px;
        position: absolute;
        top: -2%;
        left: 10%;

        @include media-to(768px) {
            top: -7%;
            left: 50%;
            transform: translate(-55%, 20%);
        }

        @include media-to(480px) {
            width: 82px;
        }
    }



    &-items {
        display: flex;
        flex-wrap: wrap;

        @include media-to(1000px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &-item {
        position: relative;
        width: calc(50% - 10px);
        margin-right: 20px;
        margin-bottom: 23px;
        padding: 34px 40px 21px 54px;
        background: $color-text-secondary;
        box-shadow: 0 4px 80px rgba(0, 0, 0, 0.25);
        border-radius: 20px;

        @include media-to(1000px) {
            margin-right: 0;
            min-height: 252px;
        }

        @include media-to(768px) {
            min-width: 320px;
            padding: 24px 35px 20px;
        }

        @include media-to(480px) {
            margin-bottom: 20px;
        }

        @include media-to(375px) {
            min-width: 250px;
            padding: 24px 25px 20px;
        }

        &:nth-child(even) {
            margin-right: 0;
        }

        &-title {
            width: 70%;
            text-transform: uppercase;
            color: #E02927;
            font-size: 30px;
            font-weight: 700;
            line-height: 36px;
            margin-bottom: 14px;

            @include media-to(1000px) {
                font-size: 18px;
                line-height: 22px;
                width: 150px;
            }
        }

        &-text {
            font-size: 18px;
            font-weight: 600;

            @include media-to(1000px) {
                font-size: 14px;
                line-height: 17px;
            }

        }

        &-image {
            position: absolute;

            &-zhenshen {
                top: -66px;
                right: -33px;

                @include media-to(1200px) {
                    max-width: 180px;
                    top: -49px;
                    right: -29px;
                }

                @include media-to(768px) {
                    width: 140px;
                }

                @include media-to(1200px) {
                    width: 154px;
                    top: -41px;
                    right: -11px;
                }
            }

            &-muira {
                width: 280px;
                top: -33px;
                right: -27px;

                @include media-to(1200px) {
                    max-width: 180px;
                    top: -23px;
                    right: -15px;
                }

                @include media-to(768px) {
                    width: 140px;
                }

                @include media-to(480px) {
                    top: 0;
                    right: 0;
                }

            }

            &-eurycoma {
                top: -19px;
                right: -55px;

                @include media-to(1200px) {
                    width: 180px;
                    top: -18px;
                    right: -17px;
                }

                @include media-to(768px) {
                    width: 140px;
                }

                @include media-to(480px) {
                    width: 180px;
                    transform: rotate(25deg);
                    top: 2px;
                    right: -33px;
                }
            }

            &-acai {
                top: -53px;
                right: -12px;

                @include media-to(1200px) {
                    width: 150px;
                    top: -23px;
                    right: -16px;
                }

                @include media-to(768px) {
                    width: 140px;
                }

                @include media-to(480px) {
                    width: 139px;
                    top: -18px;
                    right: 0;
                }
            }
        }
    }
}