.first-screen {
    position: relative;
    background-image: url("images/first-screen-bg.jpg");
    background-repeat: no-repeat;
    background-position: top center;

    color: $color-text-secondary;
    padding: 20px 0 36px;
    margin-bottom: 45px;

    @include media-to(768px) {
        background-image: url("images/first-screen-bg-mobile.jpg");
        background-size: 100%;
        overflow: hidden;

    }

    @include media-to(479px) {
        background-size: 120%;
        padding-bottom: 0;
    }

    @include media-to(400px) {
        background-size: 140%;
    }

    @include media-to(370px) {
        background-size: 160%;
    }

    &-pattern {
        position: absolute;

        @include media-to(1024px) {
            display: none;
        }

        &-left {
            top: 90px;
        }

        &-right {
            right: 0;
            top: 610px;
        }
    }

    &-product-image {
        position: absolute;
        transform: translate(53%);
        width: 536px;
        z-index: -1;

        @include media-to(1024px) {
            width: 430px;
        }

        @include media-to(768px) {
            width: 350px;
            transform: translate(60%);
        }

        @include media-to(768px) {
            width: 250px;
            right: 38%;
            top: 60px;
        }
    }

    &-header {
        max-width: 1010px;
        margin-bottom: 26px;
        line-height: 78px;

        @include media-to(1024px) {
            font-size: 36px;
            font-weight: 900;
            line-height: 36px;
        }

        @include media-to(768px) {
            font-size: 24px;
            margin-bottom: 10px;
            padding-left: 14%;
        }

        @include media-to(480px) {
            width: 90%;
            line-height: 29px;
        }

        @include media-to(420px) {
            font-size: 20px;
            margin-bottom: 10px;
            padding-left: 0;
        }

        span {
            color: #F8C67D;
        }
    }

    &-title {
        font-weight: 400;
        margin-bottom: 77px;

        @include media-to(1024px) {
            font-size: 24px;
        }

        @include media-to(768px) {
            font-size: 16px;
            padding-left: 14%;
            margin-bottom: 30px;
        }

        @include media-to(480px) {
            font-size: 12px;
            line-height: 15px;
            margin-bottom: 10px;
        }

        @include media-to(420px) {
            padding-left: 0;
        }
    }


    &-text {
        font-weight: 600;

        @include media-to(1024px) {
            margin-bottom: 40px;
            font-size: 18px;
        }

        @include media-to(768px) {
            margin-bottom: 25px;
            font-size: 13px;
        }

        @include media-to(480px) {
            margin-bottom: 22px;
            line-height: 16px;
        }


        &-container {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            padding-top: 30px;
            max-height: 400px;
            width: 50%;

            @include media-to(1024px) {
                width: 80%;
                margin-bottom: 100px;
            }

            @include media-to(768px) {
                font-size: 12px;
                margin-bottom: 110px;
            }

            @include media-to(480px) {
                margin-bottom: 60px;
            }

            @include media-to(420px) {
                width: 100%;
                margin-bottom: 50px;
            }
        }

        &-1 {
            max-width: 210px;
            margin-left: 250px;

            @include media-to(1024px) {
                margin-left: 25px;
            }

            @include media-to(480px) {
                order: 1;
                width: 102px;
                margin-left: 23px;
            }

            @include media-to(420px) {
                margin-left: 0;
            }
        }

        &-2 {
            max-width: 180px;
            margin-left: 149px;

            @include media-to(1024px) {
                margin-left: 10px;
            }

            @include media-to(480px) {
                width: 84px;
                margin-left: 25px;
            }

            @include media-to(420px) {
                margin-left: 0;
            }
        }

        &-3 {
            max-width: 275px;

            @include media-to(1024px) {
                margin-left: 0;
            }

            @include media-to(768px) {
                max-width: 144px;
            }

            @include media-to(480px) {
                order: -1;
                margin-left: 40px;
                margin-bottom: 20px;
            }

            @include media-to(420px) {
                margin-left: 0;
            }
        }

        &-4 {
            max-width: 135px;
            margin-left: 166px;

            @include media-to(1024px) {
                margin-left: 10px;
            }

            @include media-to(480px) {
                width: 63px;
                margin-left: 16px;
                margin-bottom: 31px;
            }

            @include media-to(420px) {
                margin-left: 0;
            }
        }
    }

    .columns {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 2;

        @include media-to(1024px) {
            flex-direction: column;
            align-items: center;
        }
    }

    .column {
        &:last-child {

            @include media-to(768px) {
                margin: 0 -20px;
                width: calc(100% + 40px);
                background-color: #fff;
                background-image: url("images/association-pattern.png"), url("images/first-screen-pattern.png");
                background-repeat: no-repeat, no-repeat;
                background-position: top left calc(50% - 100px), top right;

                .block-order {
                    margin: -49px auto 0;
                }
            }

            @include media-to(650px) {
                background-position: top left calc(50% - 65px), top right;
            }
        }
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}