.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 34px 0 33px;
    font-weight: 600;

    &-title {
        max-width: 650px;
        text-align: center;
    }
}