.promo {
    padding: 31px 0 25px 0;

    &-text {
        max-width: 79%;
        font-weight: 600;
        margin-right: 73px;
        text-align: center;
    }

    &-image {
        margin-top: -13px;
    }

    &-bg {
        background-color: #F8C67D;
    }
}